<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body style="background-image:url(image/background.jpg); background-size: cover; background-repeat: repeat;">
<nav class="navbar navbar-light bg-light">
    <h1><font color="red">I</font><font color="white">ndex Форум</font></h1>
</nav>
<p><font color="white">Анкета регистрации</font></p>
<p><font color="white">Введите ваше ФИО</font></p>
<input type="text" size="40"> <input type="text" size="40"> <input type="text" size="40">
<p><font color="white">Выберите пол</font></p>
<input type="radio" name="gender" value="Male"> М <input
        type="radio" name="gender" value="Female"> Ж
<p><font color="white">Придумайте пароль</font></p>
<input type="password" size="40">
<p><font color="white">Введите его еще раз</font></p>
<input type="password" size="40">
<br><button name="registation" value="main_menu"> Подтвердить регистрацию

</button>
</body>
</html>