<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Честный_лирик</title>
</head>
<body style="background-image:url(image/background.jpg); background-size: cover; background-repeat: repeat;">
<nav class="navbar navbar-light bg-light">
    <h1><font color="red">I</font><font color="white">ndex Форум</font></h1>
</nav>
<table  border="1" width="1280" align="center" bgcolor="white">
    <tr>
        <td>29.04.20<br><h4>Здравствуйте, хочу посмотреть какой-нибудь хороший фильм, посоветуйте.</h4>
            <br>Автор - Честный лирик</td>
    </tr>
    <tr>
        <td>30.04.20<br><h4>Форест Гамп</h4><br>Автор - Повелитель 6Б</td>
    </tr>
    <tr>
        <td>30.04.20<br><h4>Спасибо</h4><br>
        Автор - Честный лирик</td>
    </tr>
    <tr><th colspan="14"><input type="text" size="250"></th></tr>
</table>
</body>
</html>